@import url("https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");

@import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900");


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.625rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.2rem;
}


p,
li,
a {
    font-size: 1rem;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

p{
    color: #555;
}

a{
    color: #000;
}





a {
    text-decoration: none;
}

@media (max-width: 1000px) {
    h1 {
        font-size: 2.5rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }
    
    h3 {
        font-size: 1.3rem;
    }
    
    h4 {
        font-size: 1.1rem;
    }
}